name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'renv.lock'
      - 'renv/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: lortizmo
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: |
          docker build . \
            --file Dockerfile \
            --tag lortizmo/dsci310-ia3-lortizmo-docker:latest

      - name: Push the Docker image
        run: |
          docker push lortizmo/dsci310-ia3-lortizmo-docker:latest
